
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
#///////////////////////////
# Native
#///////////////////////////
native/**
!native/engine/
!native/engine/android/
!native/engine/android/app/
!native/engine/android/app/**/*

!native/engine/common/
!native/engine/common/Classes/
!native/engine/common/Classes/**
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/